@font-face {
  font-family: "iconfont"; /* Project id 3792148 */
  src: url('iconfont.woff2?t=1684739753041') format('woff2'),
       url('iconfont.woff?t=1684739753041') format('woff'),
       url('iconfont.ttf?t=1684739753041') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e691";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-email-fill:before {
  content: "\e856";
}

